body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-container {
    width: 80%;
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.users-list table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.users-list th, .users-list td {
    padding: 12px;
}

.users-list th {
    background-color: #b32222;
    
    color: #fff;
    text-align: left;
}

.users-list td {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.users-list td a {
    color: #dc3545;
    text-decoration: none;
}

.users-list td a:hover {
    text-decoration: underline;
}